body{
    font-family: 'Roboto', sans-serif;
    
}

#lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}

img{
    width: 25%;
}

#formularioAdd{
    width: 30%;
    background-color: rgb(212, 212, 212);
    border-radius: 30px;
}

.submit{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button_s:hover{
    cursor: pointer;
    
}

.legend p{
    margin: 0px;
    font-weight: 800;
}

.legend input{
    width: 90%;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: blue;
}

.producto{
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.titulo{
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    margin: 0%;
}

.nombre{
    margin: 0;
  
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 119, 119);
}

#nombre_titulo{
    border-top-left-radius: 30px;
    background-color:rgb(44, 44, 44); ;
}

.precio{
    margin: 0;
    background-color: rgb(119, 119, 119);
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#precio_titulo{
    background-color: rgb(44, 44, 44);
}

.img{ 
    background-color: rgb(119, 119, 119);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_titulo{
    background-color: rgb(44, 44, 44);
    border-top-right-radius: 30px;
}

.cont_lista{
    border-radius:30px;
    background-color: rgb(44, 44, 44);
}

.mensajes{
    height: 400px;
    
    
    
}

.chat-cont{
    background-color: rgb(185, 185, 185);
    margin-top: 10px;
    width: 45%;
}

.enviarmsg{
    margin-top: 10px;
    margin-right: 0;
    width: 90%;
}

.estructura{
    display: flex;
    font-size: 15px;
    overflow-y: hidden;
}

#mensajes{
    height: 270px;
    overflow-y:scroll;
}

#user{
    color: blue;
    margin: 3px;
}

#date{
    color: red;
    margin: 3px;
}

#message{
    color: green;
    margin: 3px;
}