<h1 class="textXL">Form agregar productos</h1>
<form action="/api/productos" method="post" id="formularioAdd">
    <ul id="lista">
        <li>
            <div class="legend">
                <p>Nombre:</p>
                <input type="text" name="title" id="title">
            </div>
        </li>
        <li>
            <div class="legend">   
                <p>Precio:</p>
                <input type="number" name="price" id="price">
            </div>
        </li>
        <li>
            <div class="legend">
                <p>Imagen:</p>
                <input type="text" name="thumbnail" id="thumbnail">
            </div>
        </li>
    </ul>
    <div class="submit">
        <button id="button_s">Enviar</button>
    </div>
</form>