<h1>Lista de productos</h1>
{{!-- <a href="/">Agregar productos</a>  --}}
<div class="cont_lista">
    <div class="titulo">
        <h3 class="nombre" id="nombre_titulo">Nombre</h3>
        <h3 class="precio" id="precio_titulo">Precio</h3>
        <h3 class="img" id="img_titulo">Imagen</h3>
    </div>


    <div id="prod-cont">
    {{#each productos}}
        <div class="producto">
            <h3 class="nombre">{{this.title}}</h3>
            <p class="precio">${{this.price}}</p>
            <div class="img">
                <img src="{{this.thumbnail}}" alt="" class="imgproducto"> 
            </div>
        </div> 
    {{/each}}
    </div>
</div>
