<div class="chat-cont">
    <form class="formulario_chat" action="/">
    <div>
        <input type="email" placeholder="mail" class="inputUser">
        <input type="text" placeholder="nombre" class="inputNombre">
        <input type="text" placeholder="Apellido" class="inputApellido">
        <input type="number" placeholder="edad" class="inputEdad">
        <input type="text" placeholder="alias" class="inputAlias">
        <input type="text", placeholder="avatar" class="inputAvatar">
    </div>
    
    <div id="mensajes">
            <p>bienvenido al chat</p>
            <div class="estructura">
                
            </div>    
    </div>
    <div>
        
        <input type="text" class="enviarmsg" placeholder="Escriba aqui..." >
        <a href="#bottom"><button class="boton_enviar">Enviar</button></a>
    </div>
    </form>
</div>

<div id="bottom"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
