<div class="login-container">
    <p>Ingresa tu nombre:</p>
    <form action="/login"  class="form_login">
        <input type="text" placeholder="" class="input_nombre_login">
        <input type="submit">
    </form>
</div>